In [10]:
import pandas as pd
from sqlalchemy import create_engine

# Creation of engine && URL of the database
DATABASE_URL = "postgresql://project_dat_1622:SLX4TWd4qMx4eW0hT2sY@project-dat-1622.postgresql.a.osc-fr1.scalingo-dbs.com:32005/project_dat_1622?sslmode=prefer"
engine = create_engine(DATABASE_URL, connect_args={'sslmode': "allow"})

cleaned_data_2 = pd.read_sql_table('data_cleaned_2', engine)

# Save data in SQL
cleaned_data_3 = cleaned_data_2.dropna(subset=['bath', 'balcony', 'price', 'total_sqft', 'size'])
cleaned_data_3.to_sql("data_cleaned_3", engine, if_exists='replace', index=False)

567

In [74]:
cleaned_data_3 = pd.read_sql_table('data_cleaned_3', engine)

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Train and Test
df_train, df_test = train_test_split(
    cleaned_data_3, train_size=0.7, test_size=0.3, random_state=42
)

df_train.to_sql("train", engine, if_exists='replace', index=False)
df_test.to_sql("test", engine, if_exists='replace', index=False)

print(df_train.info())

train = pd.read_sql_table('train', engine)
test = pd.read_sql_table('test', engine)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8796 entries, 2546 to 7270
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     8796 non-null   object
 1   availability  8796 non-null   datetime64[ns]
 2   location      8795 non-null   object
 3   size          8796 non-null   int64
 4   society       5124 non-null   object
 5   total_sqft    8796 non-null   object
 6   bath          8796 non-null   float64
 7   balcony       8796 non-null   float64
 8   price         8796 non-null   float64
 9   has_null      8796 non-null   bool
 10  type_of_size  8796 non-null   object
dtypes: bool(1), datetime64[ns](1), float64(3), int64(1), object(5)
memory usage: 764.5+ KB
None

In [78]:
# Extraction des variables d'entraînement
X_train = train[['total_sqft']]
y_train = train['price']

# Création et entraînement du modèle
model = LinearRegression(fit_intercept=True)
model.fit(X_train, y_train)

# Prédiction sur la DataFrame de test
X_test = test[['total_sqft']]
y_pred_test = model.predict(X_test)

# Stockage des prédictions dans une nouvelle DataFrame
model_1_predictions = test[['total_sqft', 'price']].copy()
model_1_predictions['price_pred'] = y_pred_test
model_1_predictions.reset_index(inplace=True)

model_1_predictions

      index total_sqft   price  price_pred
0         0        750   36.50  105.119879
1         1       2225  169.00  105.576080
2         2       1547  103.00  105.366382
3         3       1800   95.00  105.444632
4         4       1665   86.58  105.402878
...     ...        ...     ...         ...
3766   3766       1027   42.00  105.205552
3767   3767       1750  225.00  105.429168
3768   3768       1350   47.25  105.305452
3769   3769       1175   35.00  105.251327
3770   3770       1269   97.00  105.280400

[3771 rows x 4 columns]