In [4]:
import pandas as pd
from sqlalchemy import create_engine

# Creation of engine && URL of the database
DATABASE_URL = "postgresql://project_dat_1622:SLX4TWd4qMx4eW0hT2sY@project-dat-1622.postgresql.a.osc-fr1.scalingo-dbs.com:32005/project_dat_1622?sslmode=prefer"
engine = create_engine(DATABASE_URL, connect_args={'sslmode': "allow"})

cleaned_data_1 = pd.read_sql_table('data_cleaned', engine)
cleaned_data_2 = pd.read_sql_table('data_cleaned_2', engine)

cleaned_data_2[~cleaned_data_2.isnull()]

        availability  size total_sqft
0             19-Dec     2       1056
1      Ready To Move     4       2600
2      Ready To Move     3       1440
3      Ready To Move     3       1521
4      Ready To Move     2       1200
...              ...   ...        ...
13299  Ready To Move     5       3453
13300  Ready To Move     4       3600
13301  Ready To Move     2       1141
13302         18-Jun     4       4689
13303  Ready To Move     1        550

[13304 rows x 3 columns]