## Question 0

In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Creation of engine && URL of the database
DATABASE_URL = "postgresql://project_dat_1622:SLX4TWd4qMx4eW0hT2sY@project-dat-1622.postgresql.a.osc-fr1.scalingo-dbs.com:32005/project_dat_1622?sslmode=prefer"
engine = create_engine(DATABASE_URL, connect_args={'sslmode': "allow"})

cleaned_data_2 = pd.read_sql_table('data_cleaned_2', engine)

# Save data in SQL
cleaned_data_3 = cleaned_data_2.dropna(subset=['bath', 'balcony', 'price', 'total_sqft', 'size'])
cleaned_data_3.to_sql("data_cleaned_3", engine, if_exists='replace', index=False)

567

In [3]:
cleaned_data_3 = pd.read_sql_table('data_cleaned_3', engine)

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

# Train & Test
df_train, df_test = train_test_split(
    cleaned_data_3, train_size=0.7, test_size=0.3, random_state=42
)

# On crée nos tables Train & Test dans scallingo
df_train.to_sql("train", engine, if_exists='replace', index=False)
df_test.to_sql("test", engine, if_exists='replace', index=False)

# On récupère les données depuis scallingo
df_train = pd.read_sql_table('train', engine)
df_test = pd.read_sql_table('test', engine)

## Question 1.a

In [4]:
# Extraction des variables d'entraînement
X_train = df_train[['total_sqft']]
y_train = df_train['price']

# Création et entraînement du modèle
model = LinearRegression(fit_intercept=True)
model.fit(X_train, y_train)

# Prédiction sur la DataFrame de test
X_test = df_test[['total_sqft']]
y_pred_test = model.predict(X_test)

# Stockage des prédictions dans une nouvelle DataFrame
model_1_predictions = df_test[['total_sqft', 'price']].copy()
model_1_predictions['price_pred'] = y_pred_test
model_1_predictions.reset_index(inplace=True)

In [5]:
model_1_predictions.to_sql("model_1_predictions", engine, if_exists='replace', index=False)

771

In [6]:
# On affiche le model de prédiction 1 depuis scalllingo
model_1_predictions

      index total_sqft   price  price_pred
0         0        750   36.50  105.119879
1         1       2225  169.00  105.576080
2         2       1547  103.00  105.366382
3         3       1800   95.00  105.444632
4         4       1665   86.58  105.402878
...     ...        ...     ...         ...
3766   3766       1027   42.00  105.205552
3767   3767       1750  225.00  105.429168
3768   3768       1350   47.25  105.305452
3769   3769       1175   35.00  105.251327
3770   3770       1269   97.00  105.280400

[3771 rows x 4 columns]

## Question 1.b

In [29]:
# On récupère les données depuis scallingo
df_train = pd.read_sql_table('train', engine)
df_test = pd.read_sql_table('test', engine)

# On ajoute du date de réference
date_ref = pd.Timestamp('2023-04-04')

# On calcul la diférence entre 2 date 
df_train['days_before'] = (df_train['availability'] - date_ref) / pd.Timedelta('1 day') 
df_test['days_before'] = (df_test['availability'] - date_ref) / pd.Timedelta('1 day')

In [30]:
# Extraction des variables d'entraînement
X_train = df_train[['days_before']]
y_train = df_train['price']

# Création et entraînement du modèle
model = LinearRegression(fit_intercept=True)
model.fit(X_train, y_train)

# Prédiction sur la DataFrame de test
X_test = df_test[['days_before']]
y_pred_test = model.predict(X_test)

# Stockage des prédictions dans une nouvelle DataFrame
model_1_predictions = df_test[['days_before', 'price']].copy()
model_1_predictions['price_pred'] = y_pred_test
model_1_predictions.reset_index(inplace=True)

      index  days_before   price  price_pred
0         0        -93.0   36.50  107.594823
1         1        -93.0  169.00  107.594823
2         2        136.0  103.00   95.594445
3         3        -93.0   95.00  107.594823
4         4        -93.0   86.58  107.594823
...     ...          ...     ...         ...
3766   3766        -93.0   42.00  107.594823
3767   3767        -93.0  225.00  107.594823
3768   3768        260.0   47.25   89.096424
3769   3769        -93.0   35.00  107.594823
3770   3770        -93.0   97.00  107.594823

[3771 rows x 4 columns]

In [ ]:
# On affiche le model de prédiction 1
model_1_predictions

## Question 2

In [8]:
# On récupère les données depuis scallingo
df_train = pd.read_sql_table('train', engine)
df_test = pd.read_sql_table('test', engine)

# Sélection des colonnes numériques
X_train = df_train.select_dtypes(include=['float64', 'int64'])
y_train = df_train['price']

# Création du modèle de régression linéaire
model = LinearRegression(fit_intercept=True)

# Entraînement du modèle
model.fit(X_train, y_train)

# Prédictions sur les données de test
X_test = df_test.select_dtypes(include=['float64', 'int64'])
y_pred_test = model.predict(X_test)

# Stockage des prédictions dans une nouvelle table
model_2_predictions = pd.DataFrame({'index': df_test.index,
                                    'total_sqft': df_test['total_sqft'],
                                    'price': df_test['price'],
                                    'price_pred': y_pred_test})
# On crée la table dans scallingo
model_2_predictions.to_sql("model_2_predictions", engine, if_exists='replace', index=False)

771

In [9]:
# On affiche le model de prédiction 2
model_2_predictions

      index total_sqft   price  price_pred
0         0        750   36.50       36.50
1         1       2225  169.00      169.00
2         2       1547  103.00      103.00
3         3       1800   95.00       95.00
4         4       1665   86.58       86.58
...     ...        ...     ...         ...
3766   3766       1027   42.00       42.00
3767   3767       1750  225.00      225.00
3768   3768       1350   47.25       47.25
3769   3769       1175   35.00       35.00
3770   3770       1269   97.00       97.00

[3771 rows x 4 columns]

## Question 3

In [10]:
# On récupère les données depuis scallingo
df_train = pd.read_sql_table('train', engine)
df_test = pd.read_sql_table('test', engine)

# On crée une DataFrame avec les variables catégorielles encodées en binaire
X_train_encoded = pd.get_dummies(df_train[['total_sqft', 'size', 'balcony', 'bath']])
X_test_encoded = pd.get_dummies(df_test[['total_sqft', 'size', 'balcony', 'bath']])

# On convertit tous les noms de colonnes en chaînes de caractères
X_train_encoded.columns = X_train_encoded.columns.astype(str)
X_test_encoded.columns = X_test_encoded.columns.astype(str)

# On aligne les colonnes des DataFrame de test et d'entraînement (car il peut y avoir des valeurs de location différentes)
X_train_encoded, X_test_encoded = X_train_encoded.align(X_test_encoded, join='outer', axis=1, fill_value=0)

# On crée l'objet de régression linéaire et on l'entraîne sur les données d'entraînement
regressor = LinearRegression(fit_intercept=True)
regressor.fit(X_train_encoded, df_train['price'])

# On fait les prédictions sur les données de test
y_pred_test = regressor.predict(X_test_encoded)

# On crée la table de prédictions
model_3_predictions = df_test[['total_sqft', 'price']].copy()
model_3_predictions['price_pred'] = y_pred_test
model_3_predictions.reset_index(inplace=True)

In [11]:
# On crée la table dans scallingo
model_3_predictions.to_sql("model_3_predictions", engine, if_exists='replace', index=False)

771

In [12]:
# On affiche le model de prédiction 3
model_3_predictions

      index total_sqft   price    price_pred
0         0        750   36.50  5.322196e+01
1         1       2225  169.00  1.255184e+02
2         2       1547  103.00  3.967751e+13
3         3       1800   95.00  1.473342e+02
4         4       1665   86.58  8.799763e+01
...     ...        ...     ...           ...
3766   3766       1027   42.00  4.743204e+01
3767   3767       1750  225.00  1.276785e+02
3768   3768       1350   47.25  9.997035e+01
3769   3769       1175   35.00  5.703983e+01
3770   3770       1269   97.00  5.960967e+01

[3771 rows x 4 columns]