In [22]:
import pandas as pd
import datetime

# Read the data from file using read_csv
df = pd.read_csv("../data/dataset.csv")

df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [23]:
# Used to test regular expressions
import re

# Convert the date column "availability" to datetime
# If the value does not contain any digits then set the date to 01-01-2023, 
# (because if the value does not contain any digits then it is a string like "Ready To Move" or "Immediate Possession")
# For each date with a missing year, set the year to 2023
df.availability = df.availability.map(
    lambda availability_date:
    # With f"""{availability_date}-2023""", we are adding the year 2023 to the date, because in our dataset the year is missing.
    datetime.datetime.strptime(f"""{availability_date}-2023""", "%d-%b-%Y")

    # Check the value of availability_date, if it contains any digits then return the date, else return the date 01-01-2023
    if re.search(r"\d+", availability_date)
    else datetime.datetime.strptime("01-01-2023", "%d-%m-%Y")
)

In [24]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,2023-12-19,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,2023-01-01,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,2023-01-01,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,2023-01-01,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,2023-01-01,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,2023-01-01,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,2023-01-01,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,2023-01-01,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,2023-06-18,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,2023-01-01,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00