# Première étape

On nettoie les données afin qu'elle soit facilement exploitable par la suite.

## Question 1

On convertit la colonne "availability" en datetime.
Pour ce faire on a utilisé la méthode map de la Series pandas, afin de boucler sur chaque valeur de la colonne.
Ensuite à l'aide d'une fonction lambda, on vérifie que la valeur correspond bien à un format de date. (On ajoute l'année 2023, car dans notre dataset l'année est manquante)
Si la valeur ne correspond pas à un format de date, on retourne la date 01-01-2023.

In [47]:
import pandas as pd
import datetime
from sqlalchemy import create_engine

# Read the data from file using read_csv
df = pd.read_csv("../data/dataset.csv")

### Q1

# Used to test regular expressions
import re

# Convert the date column "availability" to datetime
# If the value does not contain any digits then set the date to 01-01-2023,
# (because if the value does not contain any digits then it is a string like "Ready To Move" or "Immediate Possession")
# For each date with a missing year, set the year to 2023
df.availability = df.availability.map(
    lambda availability_date:
    # With f"""{availability_date}-2023""", we are adding the year 2023 to the date, because in our dataset the year is missing.
    datetime.datetime.strptime(f"""{availability_date}-2023""", "%d-%b-%Y")

    # Check the value of availability_date, if it contains any digits then return the date, else return the date 01-01-2023
    if re.search(r"\d+", availability_date)
    else datetime.datetime.strptime("01-01-2023", "%d-%m-%Y")
)

## Question 2

On convertit la colonne "size" en int.
Pour ce faire on a utilisé la méthode extract de la Series pandas, afin de récupérer uniquement le nombre de la colonne.
Ensuite on convertit la colonne en int.

In [48]:
# Remove rows with zero values in size
# Because otherwise we will not be able to train a model
df["has_null"] = df['size'].isnull()

# We calculate the % of null values
print(round(100 * df["has_null"].sum() / len(df), 2), "% Null values")

print(len(df), "rows before cleaning")

df = df[~df.has_null]
print(len(df), "rows after cleaning")

# We make the separation to retrieve the label in 'type_of_size'
df['type_of_size'] = df['size'].str.replace('\d+', '').str.strip()

#We will now separate the number from the text to only retrieve the number and replace it in the 'size' column
df['size'] = df['size'].str.extract('(\d+)', expand=False).astype(int)

0.12 % Null values
13320 rows before cleaning
13304 rows after cleaning

/var/folders/nx/73k7y_jx7g35wxf_h1x1fwh80000gn/T/ipykernel_43113/3318548190.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  df['type_of_size'] = df['size'].str.replace('\d+', '').str.strip()

## Question 3

On convertit la colonne "total_sqft" en number.
Avec la méthode to_numeric cela nous permet de convertir les strings en "number".
Donc tous les nombres entier ou décimal seront converti.
Exemples :
- "1000" -> 1000
- "1000.0" -> 1000.0
- "1900Sq. Meter" -> NaN

In [49]:
#  errors='coerce': replace non-convertible values with NaN
df['total_sqft'] = pd.to_numeric(df['total_sqft'], errors='coerce')

## Question 4

Il suffit d'afficher les informations du dataframe avec la méthode info().
Et de controller si toutes les données nous semble correcte.

In [50]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13304 entries, 0 to 13319
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13304 non-null  object
 1   availability  13304 non-null  datetime64[ns]
 2   location      13303 non-null  object
 3   size          13304 non-null  int64
 4   society       7805 non-null   object
 5   total_sqft    13065 non-null  float64
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13304 non-null  float64
 9   has_null      13304 non-null  bool
 10  type_of_size  13304 non-null  object
dtypes: bool(1), datetime64[ns](1), float64(4), int64(1), object(4)
memory usage: 1.1+ MB

## Question 5

On ajoute nos valeurs nettoyées dans une nouvelle table dans la base de données.

Pour ce faire, il nous faut créer un engine qui nous permettra de se connecter à la base de données, ainsi qu'un URL qui nous permettra de nous connecter à la base de données.
À partir de ce point il nous suffit de sélectionner les colonnes que l'on souhaite sauvegarder dans la base de données, puis de les sauvegarder avec la méthode to_sql().

In [51]:
# Creation of engine && URL of the database
DATABASE_URL = "postgresql://project_dat_1622:SLX4TWd4qMx4eW0hT2sY@project-dat-1622.postgresql.a.osc-fr1.scalingo-dbs.com:32005/project_dat_1622?sslmode=prefer"
engine = create_engine(DATABASE_URL, connect_args={'sslmode': "allow"})

In [52]:
### Save in Remote Database
# Use if_exists='replace' to replace the table if it already exists
# Use index=False to not save the index
df[['availability', 'size', 'total_sqft']].to_sql("data_cleaned", engine, if_exists='replace', index=False)

304

On vérifie que les données ont bien été sauvegardées dans la base de données, en effectuant une lecture des données sur notre base de données distante.

In [53]:
# Get data from the remote database.
cleaned_data_1 = pd.read_sql_table('data_cleaned', engine)

# Percentage of none values
print(cleaned_data_1.isnull().sum() / len(cleaned_data_1) * 100)

cleaned_data_1

availability    0.000000
size            0.000000
total_sqft      1.796452
dtype: float64

      availability  size  total_sqft
0       2023-12-19     2      1056.0
1       2023-01-01     4      2600.0
2       2023-01-01     3      1440.0
3       2023-01-01     3      1521.0
4       2023-01-01     2      1200.0
...            ...   ...         ...
13299   2023-01-01     5      3453.0
13300   2023-01-01     4      3600.0
13301   2023-01-01     2      1141.0
13302   2023-06-18     4      4689.0
13303   2023-01-01     1       550.0

[13304 rows x 3 columns]

## Question 6

Il nous faut améliorer notre algorithm de nettoyage de la colonne "total_sqft".

Pour nous aider dans cette tache nous avons créé une fonction qui nous permet de convertir les différentes unités de la colonne "total_sqft" en pieds carrés.
Cette fonction prend en paramètre une chaine de caractère et retourne un nombre.
Si la chaine de caractères ne contient pas d'unité, alors on retourne la chaine de caractère.
Si la chaine de caractères contient une unité qui n'est pas dans le switcher on retourne NaN.

Ensuite on applique cette fonction à la colonne "total_sqft" et on l'écrase avec la nouvelle valeur.
Et pour finir on sauvegarde les données dans la base de données distante.

In [29]:
# Re-import data, to clean data with the new algorithm
import numpy as np
import pandas as pd

df = pd.read_csv("../data/dataset.csv")

In [30]:
# Used to test regular expressions
import re

# Convert the date column "availability" to datetime
# If the value does not contain any digits then set the date to 01-01-2023,
# (because if the value does not contain any digits then it is a string like "Ready To Move" or "Immediate Possession")
# For each date with a missing year, set the year to 2023
df.availability = df.availability.map(
    lambda availability_date:
    # With f"""{availability_date}-2023""", we are adding the year 2023 to the date, because in our dataset the year is missing.
    datetime.datetime.strptime(f"""{availability_date}-2023""", "%d-%b-%Y")

    # Check the value of availability_date, if it contains any digits then return the date, else return the date 01-01-2023
    if re.search(r"\d+", availability_date)
    else datetime.datetime.strptime("01-01-2023", "%d-%m-%Y")
)

In [31]:
# Remove rows with zero values in size
# Because otherwise we will not be able to train a model
df["has_null"] = df['size'].isnull()

# We calculate the % of null values
print(round(100 * df["has_null"].sum() / len(df), 2), "% Null values")

print(len(df), "rows before cleaning")

df = df[~df.has_null]
print(len(df), "rows after cleaning")

# We make the separation to retrieve the label in 'type_of_size'
df['type_of_size'] = df['size'].str.replace('\d+', '').str.strip()

#We will now separate the number from the text to only retrieve the number and replace it in the 'size' column
df['size'] = df['size'].str.extract('(\d+)', expand=False).astype(int)

0.12 % Null values
13320 rows before cleaning
13304 rows after cleaning

C:\Users\nicol\AppData\Local\Temp\ipykernel_120596\1881192495.py:14: FutureWarning: The default value of regex will change from True to False in a future version.
  df['type_of_size'] = df['size'].str.replace('\d+', '').str.strip()

In [32]:
import re


def convert_to_sqft(string: str):
    """
    Convert string to sq feet
    If the string contain a unit is not in the switcher, return NaN
    :param string: string to convert to the corresponding sq feet
    :return: sq feet as integer
    """
    # Split string into number and unit, e.g. '30Acres' -> ['', '30', 'Acres']
    # The first element is empty because the first char is not a digit
    # Regex pattern: (\d+(?:\.\d+)?) -> match a number with or without decimal point
    pattern = r'(\d+(?:\.\d+)?)'

    number = re.split(pattern, string)[1]
    unit = re.split(pattern, string)[2]

    # If no unit, return number
    if unit == '':
        return number

    # Convert unit to sq feet
    switcher = {
        'Sq. Meter': round(float(number) * 10.7639),
        'Sq. Yards': round(float(number) * 9),
        'Sq. Feet': number,
        'Acres': round(float(number) * 43560),
        'Perch': round(float(number) * 272.25),
        'Cents': round(float(number) * 435.6),
        'Guntha': round(float(number) * 1089),
        'Grounds': round(float(number) * 2400),
    }

    return switcher.get(unit, np.nan)

Nettoyage des données avec la nouvelle fonction de conversion.

In [33]:
# Convert total_sqft to sqft
# Convert all data to corresponding float, or if not possible, NaN
df.total_sqft = df.total_sqft.map(lambda x: convert_to_sqft(x))

# Calculate percentage of NaN
print(df.isnull().sum() / len(df) * 100)

# Display DataFrame
df

area_type        0.000000
availability     0.000000
location         0.007517
size             0.000000
society         41.333434
total_sqft       1.450692
bath             0.428443
balcony          4.457306
price            0.000000
has_null         0.000000
type_of_size     0.000000
dtype: float64

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,has_null,type_of_size
0,Super built-up Area,2023-12-19,Electronic City Phase II,2,Coomee,1056,2.0,1.0,39.07,False,BHK
1,Plot Area,2023-01-01,Chikka Tirupathi,4,Theanmp,2600,5.0,3.0,120.00,False,Bedroom
2,Built-up Area,2023-01-01,Uttarahalli,3,NaN,1440,2.0,3.0,62.00,False,BHK
3,Super built-up Area,2023-01-01,Lingadheeranahalli,3,Soiewre,1521,3.0,1.0,95.00,False,BHK
4,Super built-up Area,2023-01-01,Kothanur,2,NaN,1200,2.0,1.0,51.00,False,BHK
...,...,...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,2023-01-01,Whitefield,5,ArsiaEx,3453,4.0,0.0,231.00,False,Bedroom
13316,Super built-up Area,2023-01-01,Richards Town,4,NaN,3600,5.0,NaN,400.00,False,BHK
13317,Built-up Area,2023-01-01,Raja Rajeshwari Nagar,2,Mahla T,1141,2.0,1.0,60.00,False,BHK
13318,Super built-up Area,2023-06-18,Padmanabhanagar,4,SollyCl,4689,4.0,1.0,488.00,False,BHK
13319,Super built-up Area,2023-01-01,Doddathoguru,1,NaN,550,1.0,1.0,17.00,False,BHK

Sauvegarde des données nettoyées dans la base de données.

In [34]:
# Save data in SQL
df[['availability', 'size', 'total_sqft']].to_sql("data_cleaned_2", engine, if_exists='replace', index=False)

304

In [35]:
cleaned_data_2 = pd.read_sql_table('data_cleaned_2', engine)

# Percentage of none values
print(cleaned_data_2.isnull().sum() / len(cleaned_data_2) * 100)

cleaned_data_2

availability    0.000000
size            0.000000
total_sqft      1.450692
dtype: float64

      availability  size total_sqft
0       2023-12-19     2       1056
1       2023-01-01     4       2600
2       2023-01-01     3       1440
3       2023-01-01     3       1521
4       2023-01-01     2       1200
...            ...   ...        ...
13299   2023-01-01     5       3453
13300   2023-01-01     4       3600
13301   2023-01-01     2       1141
13302   2023-06-18     4       4689
13303   2023-01-01     1        550

[13304 rows x 3 columns]

In [59]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13320 entries, 0 to 13319
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   area_type     13320 non-null  object
 1   availability  13320 non-null  object
 2   location      13319 non-null  object
 3   size          13304 non-null  object
 4   society       7818 non-null   object
 5   total_sqft    13119 non-null  object
 6   bath          13247 non-null  float64
 7   balcony       12711 non-null  float64
 8   price         13320 non-null  float64
dtypes: float64(3), object(6)
memory usage: 936.7+ KB