In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Creation of engine && URL of the database
DATABASE_URL = "postgresql://project_dat_1622:SLX4TWd4qMx4eW0hT2sY@project-dat-1622.postgresql.a.osc-fr1.scalingo-dbs.com:32005/project_dat_1622?sslmode=prefer"
engine = create_engine(DATABASE_URL, connect_args={'sslmode': "allow"})

In [17]:
# Example of a dataframe
df = pd.DataFrame(columns=['availability', 'size', 'total_sqft'], data=[[1, 2, 3], [4, 5, 6], [7, 8, 9]])

### Save in SQL
df[['availability', 'size', 'total_sqft']].to_sql("data_cleaned", engine, if_exists='replace', index=False)

3

In [18]:
### Read from SQL
pd.read_sql("data_cleaned", engine)

   availability  size  total_sqft
0             1     2           3
1             4     5           6
2             7     8           9