In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Creation of engine && URL of the database
DATABASE_URL = "postgresql://project_dat_1622:SLX4TWd4qMx4eW0hT2sY@project-dat-1622.postgresql.a.osc-fr1.scalingo-dbs.com:32005/project_dat_1622?sslmode=prefer"
engine = create_engine(DATABASE_URL, connect_args={'sslmode': "allow"})

In [ ]:
# Example of a dataframe
df = pd.DataFrame([{"id": 1, "name": "John"}, {"id": 2, "name": "Jane"}])

### Save in SQL
df.to_sql("data_cleaned", engine)

In [5]:
### Read from SQL
pd.read_sql("data_cleaned", engine)

,index,area_type,availability,location,size,society,total_sqft,bath,balcony,price,has_null,type_of_size
0,0,Super built-up Area,2023-12-19,Electronic City Phase II,2,Coomee,1056.0,2.0,1.0,39.07,False,BHK
1,1,Plot Area,2023-01-01,Chikka Tirupathi,4,Theanmp,2600.0,5.0,3.0,120.00,False,Bedroom
2,2,Built-up Area,2023-01-01,Uttarahalli,3,None,1440.0,2.0,3.0,62.00,False,BHK
3,3,Super built-up Area,2023-01-01,Lingadheeranahalli,3,Soiewre,1521.0,3.0,1.0,95.00,False,BHK
4,4,Super built-up Area,2023-01-01,Kothanur,2,None,1200.0,2.0,1.0,51.00,False,BHK
...,...,...,...,...,...,...,...,...,...,...,...,...
13299,13315,Built-up Area,2023-01-01,Whitefield,5,ArsiaEx,3453.0,4.0,0.0,231.00,False,Bedroom
13300,13316,Super built-up Area,2023-01-01,Richards Town,4,None,3600.0,5.0,NaN,400.00,False,BHK
13301,13317,Built-up Area,2023-01-01,Raja Rajeshwari Nagar,2,Mahla T,1141.0,2.0,1.0,60.00,False,BHK
13302,13318,Super built-up Area,2023-06-18,Padmanabhanagar,4,SollyCl,4689.0,4.0,1.0,488.00,False,BHK
13303,13319,Super built-up Area,2023-01-01,Doddathoguru,1,None,550.0,1.0,1.0,17.00,False,BHK