In [38]:
import pandas as pd

# Read the data from file using read_csv
df = pd.read_csv("../data/dataset.csv")

# Remove rows with zero values in size
# Because otherwise we will not be able to train a model
df["has_null"] = df['size'].isnull()

# We calculate the % of null values
print(round(100*df["has_null"].sum() / len(df), 2), "% Null values")

print(len(df), "rows before cleaning")

df = df[~df.has_null]
print(len(df), "rows after cleaning")
df

0.12 % de valeurs nulles
13320 rows before cleaning
13304 rows after cleaning

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,has_null
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07,False
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00,False
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00,False
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00,False
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00,False
...,...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00,False
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00,False
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00,False
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00,False
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00,False

In [33]:
df.groupby('size').availability.count()

size
1 BHK          538
1 Bedroom      105
1 RK            13
10 BHK           2
10 Bedroom      12
11 BHK           2
11 Bedroom       2
12 Bedroom       1
13 BHK           1
14 BHK           1
16 BHK           1
18 Bedroom       1
19 BHK           1
2 BHK         5199
2 Bedroom      329
27 BHK           1
3 BHK         4310
3 Bedroom      547
4 BHK          591
4 Bedroom      826
43 Bedroom       1
5 BHK           59
5 Bedroom      297
6 BHK           30
6 Bedroom      191
7 BHK           17
7 Bedroom       83
8 BHK            5
8 Bedroom       84
9 BHK            8
9 Bedroom       46
Name: availability, dtype: int64

We will separate the number and the text contained in the 'size' column

In [29]:
# We make the separation to retrieve the label in 'type_of_size'
df['type_of_size'] = df['size'].str.replace('\d+','').str.strip()

#We will now separate the number from the text to only retrieve the number and replace it in the 'size' column
df['size'] = df['size'].str.extract('(\d+)', expand=False).astype(int)
df

C:\Users\nicol\AppData\Local\Temp\ipykernel_140936\836429616.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['type_of_size'] = df['size'].str.replace('\d+','').str.strip()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price,has_null,type_of_size
0,Super built-up Area,19-Dec,Electronic City Phase II,2,Coomee,1056,2.0,1.0,39.07,False,BHK
1,Plot Area,Ready To Move,Chikka Tirupathi,4,Theanmp,2600,5.0,3.0,120.00,False,Bedroom
2,Built-up Area,Ready To Move,Uttarahalli,3,NaN,1440,2.0,3.0,62.00,False,BHK
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3,Soiewre,1521,3.0,1.0,95.00,False,BHK
4,Super built-up Area,Ready To Move,Kothanur,2,NaN,1200,2.0,1.0,51.00,False,BHK
...,...,...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5,ArsiaEx,3453,4.0,0.0,231.00,False,Bedroom
13316,Super built-up Area,Ready To Move,Richards Town,4,NaN,3600,5.0,NaN,400.00,False,BHK
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2,Mahla T,1141,2.0,1.0,60.00,False,BHK
13318,Super built-up Area,18-Jun,Padmanabhanagar,4,SollyCl,4689,4.0,1.0,488.00,False,BHK
13319,Super built-up Area,Ready To Move,Doddathoguru,1,NaN,550,1.0,1.0,17.00,False,BHK